@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
body {
  background-color: #131313;
  color: #e5e2e1;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: inline-block;
  line-height: 1;
}
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #131313; }
::-webkit-scrollbar-thumb { background: #353534; }
